*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}

.border{
    border: dashed 2px black;
}

a{
    text-decoration: none;
}

/*Inizio Header*/

    header{
        background-color: #2e60e4;
        height: 50px;
        display: flex;
        align-items: center;
    }

    /*Barra di navigazione*/

        nav{
            display: flex;
            margin: 0 auto;
            width: 980px;
        }

        .logo_container,.login_container{
            width: 20%;
            display: flex;
        }

        div.logo img{
            width: 100%;
        }

        .login_container{
            justify-content: right;
        }

        .background_color_white{
            background-color: white;
        }

        .button{
            border-radius: 40px;
            font-size: 14px;
            padding: 9px 16px;
            font-weight: 700;
            border: none;
        }

        div.menu_container{
            width: 60%;
            display: flex;
            align-items: center;
        }

        .menu{
            width: 100%;
            padding: 0;
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            font-weight: 600;
        }

        li a{
            color: white;
        }

    /*Fine Barra di navigazione*/

/*Fine Header*/


/*Prima sezione*/

    .container1{
        background-image: url("../img/jumbo.png");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sezione1{
        margin: 72px 0px 162px;
        width: 47%;
    }

    .main_title{
        text-align: center;
        font-size: 45px;
        font-weight: 800;
    }

    .main_p{
        margin-top: 40px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        line-height: 26px;
    }

    .button_container{
        margin-top: 25px;
        padding: 0px 107px;
    }

    .color_white{
        color: white;
    }

    .color_black{
        color: black;
    }

    .background_color_black{
        background-color: black;
    }

/*Fine Prima sezione*/


/*Sezioni centrali*/

    .container{
        display: flex;
        align-items: center;
    }

    .container_bk_color{
        background-color: #bebebe;
    }

    .sezione{
        width: 70%;
        display: flex;
        margin: 100px auto;
    }

    .width_img_section{
        width: 64%;
    }

    .width_text_section{
        width: 34%;
    }

    .img1{
        background-image: url(../img/item1.svg);
    }

    .img2{
        background-image: url("../img/item2.svg");
    }

    .img3{
        background-image: url(../img/item3.svg);
    }

    .img_section{
        margin-right: 2%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .text_section{
        padding-top: 24px;
    }

    .section_title{
        font-size: 38px;
        font-weight: 900;
    }

    .section_p{
        margin-top: 25px;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }

    .padding_bottom{
        padding-bottom: 94px;
    }

/*Fine Sezioni centrali*/

/*Ultima sezione*/

    .last_container{
        display: flex;
        align-items: center;
    }

    .ultima_sezione{
        width: 70%;
        margin: 100px auto;
    }

    .last_title{
        text-align: center;
        font-size: 36px;
        font-weight: 800;
    }

    .last_p{
        margin-top: 25px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
    }

    .last_container img{
        width: 100%;
    }

    .margin{
        width: 52%;
        margin: 0 auto;
        background-image: url(../img/stars.svg);
        background-size: 100%;
        background-repeat: no-repeat;

        padding: 33px 32px;
    }

    .margin h3{
        font-size: 23px;
        font-weight: 800;
    }

    .background_color_purple{
        background-color: #8EA1E1;
    }

    a.background_color_purple{
        margin: 360px;
    }

/*Fine Ultima sezione*/

/*Footer*/

    /*Footer Top*/

        .footer_top{
            background-color: black;
            height: 400px;
            display: flex;
            align-items: center;
            margin-bottom: 2px;
        }

        .main_row{
            width: 60%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }

        .col{
            height: 100%;
        }

        .principale{
            width: 28%;
        }

        .secondaria{
            width: 16%;
            padding-top: 7px;
        }


        .color_dark_purple{
            color: #475ea7;
        }

        .principale h3{
            font-size: 30px;
            font-weight: 900;
        }

        .principale h5{
            margin-top: 15px;
            font-size: 15px;
            font-weight: 500;
        }

        .footer_list{
            list-style-type: none;
            font-size: 15px;
            font-weight: 800;
            line-height: 25px;
        }
        
    /*Fine Footer Top*/

    /*Footer Down*/

        .footer_down{
            background-color: black;
            height: 100px;
            display: flex;
            align-items: center;
        }

        .row{
            width: 60%;
            height: 70px;
            background-color: skyblue;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo2,.bottone{
            background-color: #ff94a6;
            width: 10%;
            height: 25px;
            text-align: center;
            padding: 2px;
        }

    /*Fine Footer Down*/

/*Fine Footer*/
